.head {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.logoText {
    font-size: 16px;
    color: #0056D6;
    flex: 1;
}

.mLink {
    text-decoration: none;
    color: #6C768D;
    font-family: "Inter", "Roboto Light", Roboto, sans-serif;
    font-size: 15px;
    transition: .5s;
}

.mLink:hover {
    color: #444a57;
}

.menuLinks {
    flex: 1.25;
}

.mLink {
    margin: 0px 15px;
}